<div class="container-fluid toprow_filedata_container">
      <div class="row">
        <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="card whitebox_card_body">
        <div class="card-body whitebox_body">
        <div id="whitebox_title_borderDiv">
          <h5 class="card-title whitebox_title">Files Today</h5>
        </div>
          <h2 class="card-subtitle mb-2 text-muted text-center whitebox_maindata">25</h2>
          <div class="row text-center">
              <div class="col-sm-4 col-4"><span href="#" class="card-link green">10 successful</span></div>
              <div class="col-sm-4 col-4"><span href="#" class="card-link red">10 successful</span></div>
              <div class="col-sm-4 col-4"><span href="#" class="card-link blue">10 successful</span></div>
          </div>
        </div>
      </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card whitebox_card_body">
                <div class="card-body whitebox_body">
                <div id="whitebox_title_borderDiv">
                  <h5 class="card-title whitebox_title">API Usage</h5>
                </div>
                  <h2 class="card-subtitle mb-2 text-muted text-center whitebox_maindata">20</h2>
                  <div class="row text-center">
                      <div class="col-sm-12 col-12"><span href="#" class="card-link">Requests per day<br><br></span></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card whitebox_card_body">
                <div class="card-body whitebox_body">
                  <div id="whitebox_title_borderDiv">
                    <h5 class="card-title whitebox_title">Data Source Wise</h5>
                  </div>
                    <div class="row text-center">
                        <div class="col-sm-4 col-4 red"><h4 href="#">10</h4> <h6 class="whitebox_maindata_filetype red">JSON</h6><br></div>
                        <div class="col-sm-4 col-4 orange"><h4 href="#">10</h4> <h6 class="whitebox_maindata_filetype orange">FTP</h6><br></div>
                        <div class="col-sm-4 col-4 blue"><h4 href="#">10</h4> <h6 class="whitebox_maindata_filetype blue">External</h6><br></div>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card whitebox_card_body">
                <div class="card-body whitebox_body">
                <div id="whitebox_title_borderDiv">
                  <h5 class="card-title whitebox_title">Received</h5>
                </div>
                  <div class="row text-center">
                      <div class="col-sm-4 col-4 red"><h4 href="#">15</h4> <h6 class="whitebox_maindata_filetype red">FOB</h6><br></div>
                      <div class="col-sm-4 col-4 orange"><h4 href="#">25</h4> <h6 class="whitebox_maindata_filetype orange">OFR</h6><br></div>
                      <div class="col-sm-4 col-4 blue"><h4 href="#">10</h4> <h6 class="whitebox_maindata_filetype blue">PLC</h6><br></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card whitebox_card_body">
                <div class="card-body whitebox_body">
                <div id="whitebox_title_borderDiv">
                  <h5 class="card-title whitebox_title">Average Time</h5>
                </div>
                  <h2 class="card-subtitle mb-2 text-muted text-center whitebox_maindata">2.5<span>ms</span></h2>
                  <div class="row text-center">
                    <div class="col-sm-12 col-12"><span href="#" class="card-link">to process a file<br><br></span></div>
                </div>
                </div>
              </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6 col-12">
            <div class="card whitebox_card_body">
                <div class="card-body whitebox_body">
                <div id="whitebox_title_borderDiv">
                  <h5 class="card-title whitebox_title">Average Time</h5>
                </div>
                  <h2 class="card-subtitle mb-2 text-muted text-center whitebox_maindata">5<span>ms</span></h2>
                  <div class="row text-center">
                    <div class="col-sm-12 col-12"><span href="#" class="card-link">to insert a file to database<br><br></span></div>
                </div>
                </div>
              </div>
          </div>
      </div>
    </div>